html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
	color: #FFF;
}


@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

html {
  scroll-behavior: smooth;
	scrollbar-color: rgb(12, 63, 106) transparent;
	scrollbar-width: thin;
}

html::-webkit-scrollbar {
	width: 10px;
	background: transparent;
}

html::-webkit-scrollbar-thumb {
	background: #0C416B;
	border-radius: 5px;
}


* {
		margin: 0;
		padding: 0 0;
		box-sizing: border-box;
}

[class*="__container"]{
	margin: 0 auto;
	padding: 64px 80px;
	/* max-width: 1760px; */
}

[class*="__100bottom"]{
	margin: 0 auto;
	padding: 80px 64px 100px 64px ;
	/* max-width: 1760px; */
}
*{
	font-family: Nunito;
}
.title-text{
	color: var(--Neutrual, #131010);
	font-size: 56px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}

.logo-title {
	color: #FFF;
	font-family: Nunito;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	transition: 0.4s ease-in-out;
	cursor: pointer;
}

.sm-text{
	font-family: Nunito;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}




/* header*/
header{
	position: sticky;
	z-index: 11;
	top: 0;
	border-bottom: 1px solid #FFF;
	background: var(--primary_lib, #0C416B);
	box-shadow: 0px 3px 13.9px 0px rgba(6, 18, 128, 0.07);
	color: #FFF;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 26px 80px;
}
.header-logo {
	z-index: 2;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;

}

.logo-title:hover{
	color: var(--primary_lib, #769ED7);
}


.logo-img img{
	width: 54px;
	height: 54px;
}

.nav-link {
	text-decoration: none;
	text-align: center;
	color: #FFF;
	text-transform: uppercase;
	transition: 0.4s ease-in-out

}
.nav-link:hover{
	color: var(--primary_lib, #769ED7);

}


.nav-menu{
	
	ul{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 64px;
		align-self: stretch;
	}
	.nav-gotos{
		display: none;
	}
	.nav-profile {
		display: none;
	}

	.nav-contactme {
		display: none;

	}
	.nav-contactme-item {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 6px;
	}
	.nav-contactme-content {
	}
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}




.header-contactme {
	display: flex;
	align-items: center;
	gap: 10px;
	align-self: stretch;
}
.contactme-item {
	text-decoration: none;
	color: #FFF;
	cursor: pointer;
	transition: 0.4s ease-in-out;
	display: flex;
	padding: 8px 14px;
	justify-content: center;
	align-items: center;
	gap: 6px;
}
.contactme-item:hover{
	color: #0F3D61;
	border-radius: 51px;
	background: #FFF;
}
.contactme-content {
	text-align: center;
}

ul li{
	position: relative;
}


ul li ul.dropdown li{
	display: block;
}

ul li ul.dropdown {
	width: 100%;
	background: #0a4c81;
	border-radius: 11px;
	position: absolute;
	z-index: 12;
	display: none;
}

ul li a:hover{
	color: #769ED7;
}

ul li:hover ul.dropdown{
	display: flex;
	flex-direction: column;
	gap: 10px;
	li{
		padding: 10px;
	}
}

@media(max-width:1399px){
	header{
		justify-content: flex-end;
		gap: 10px;
	}

	.header-logo{
		position: absolute;
		left: 16px;
	}

	.contactme-item{
		p{
			display: none;
		}
	}
  .hamburger{
    display: block;
		z-index: 2;
  }
	ul li ul.dropdown {
		width: 20%;
    left: 40%;
	}

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
		display: flex;
    position: fixed;
		z-index: 1;
    left: -100%;
    top: 0;
		height: 100%;
		width: 100%;
		gap: 100px;
		padding: 12px 16px;
		padding-top: 100px;
    flex-direction: column;
    background-color: #0C416B;
    text-align: center;
    transition: 0.3s;
		ul{
			display: flex;
			flex-direction: column;
			gap: 32px;
		}
		.nav-gotos{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
		.nav-profile {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	
		.nav-contactme {
			display: flex;
			gap: 14px;
			flex-direction: column;
			align-items: flex-start;
	
		}
		.nav-contactme-item {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 6px;
		}
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }
	
}
/* main */
.main__container{
	position: relative;
	background: #0C416B;
	display: flex;
	/* height: 665px; */
	/* max-width: 1760px; */
	overflow: hidden;
	flex-direction: column;
	justify-content: flex-end;
	/* align-items: center; */
}

.right-arow-control {
	display: none;
}
.left-arow-control {
	display: none;
}
.slider-line{
	display: flex;
	align-items: center;
	transition: all 0.4s;
}

.slide{
	display: flex;
	height: 665px;
	position: relative;
	justify-content: flex-end;
	flex-direction: column;
	gap: 20px;

}

.main-title {
	align-self:center;
	position: absolute;
	top: 5%;
	left: 12%;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1337px;
	color: #FFF;
	font-family: Nunito;
	font-size: 72px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	z-index: 2;
	
}

.main-title.spec{
	left: 30%;
	width: 887.5px;
}
.main-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	padding-right: 160px;
	/* max-width: 1760px;
	width: 100%; */

}
.main-about {
	display: flex;
	flex-direction: column;
	gap: 64px;
}
.about-content {
	display: flex;
	width: 545px;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 24px;
	width: 545px;
}
.about-text {
	width: 440px;
	color: #FFF;
	font-family: Nunito;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.btn-more {
	border-radius: 6px;
	border: 2px solid var(--Neutrual, #FFF);
	height: 45px;
	display: flex;
	padding: 10px 40px;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	background-color: transparent;
	text-align: center;
	font-family: Nunito;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	transition: 0.4s ease-in-out;
	cursor: pointer;
	color: var(--Neutrual, #FFF);
}

.btn-more:hover{
	background: rgba(118, 158, 215, 0.50);
}

.btn-more:active{
	background: #769ED7;
}

.btn-goto {
	color: #FFF;
	border: 2px solid #FFF;
	margin-bottom: 32px;
}

.slider-controls {
	position: absolute;
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.slider-control {
	transition: all 0.4s;
	cursor: pointer;
	circle{fill: white;}
}

.slider-control:hover{
	circle{fill: #ffc890;}
}

.slider-control-active {
	circle{fill: #F8AB5D;}
}

.main-img img{
	/* width: 75%; */
	height: 391px;
	width: 619px;
}
.main-profile {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 12px;
	/* flex: 1 0 0; */
}

.btn-sloid{
	width: 180px;
	display: flex;
	padding: 10px;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	text-align: center;
	font-family: Nunito;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border: none !important;
}
.btn-white {
	background: #F9F1F6;
	color: var(--Neutrual, #131010);	
	cursor: pointer;
	transition: 0.4s ease-in-out;
}
.btn-white:hover{
	color: var(--primary_lib, #769ED7);
}
.btn-black {
	color: #FFF;
	background: var(--Neutrual, #131010);
	cursor: pointer;
	transition: 0.4s ease-in-out;
}

.btn-black:hover{
	box-shadow: 0px 4px 15px 0px rgba(111, 110, 110, 0.15);
}

/* services */
.services__container{
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.services-title{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}
.services-arrow{
	z-index: 10;
	cursor: pointer;
	position: fixed;
	bottom: 48px; 
	right: 6%;
	border-radius: 64px;
	background: var(--primary_lib, #0C416B);
	box-shadow: 3px 3px 30px 0px rgba(41, 65, 106, 0.15), -3px -3px 30px 0px rgba(50, 69, 108, 0.15);
	display: flex;
	width: 80px;
	height: 80px;
	/* transform: rotate(-90deg); */
	/* padding: 10px; */
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.services-cards {
	display: flex;
	flex-direction: column;
	gap: 32px;
	
}
.services-cards-row{
	display: flex;
	flex-direction: row;
	gap: 20px;
}
.services-card {
	transition: all 0.4s ease-in-out; 
	cursor: pointer;
	display: flex;
	width: 100%;	
	max-width: 424px;
	height: 350px;
	padding: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 32px;
	background: var(--primary_ioc, #F9F1F6);
	box-shadow: 0px 3px 3px 0px rgba(99, 115, 129, 0.20);
}

.services-card:hover {
	background: var(--primary_lib, #769ED7);
	box-shadow: 0px 3px 3px 0px rgba(99, 115, 129, 0.20);
	transition: all 0.4s ease-in-out;
	path{fill: #FFFFFF;};
	.services-card-text {
		color: #FFF; 
	}
}
.services-card-spec {
	transition: all 0.4s ease-in-out; 
	cursor: pointer;
	display: flex;
	width: 100%;
	max-width: 424px;
	height: 350px;
	padding: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 32px;
	background: var(--primary_ioc, #F9F1F6);
	box-shadow: 0px 3px 3px 0px rgba(99, 115, 129, 0.20);
}
.services-card-spec:hover{
	background: var(--primary_lib, #769ED7);
	box-shadow: 0px 3px 3px 0px rgba(99, 115, 129, 0.20);
	/* Transition property moved here for global effect */
	transition: all 0.4s ease-in-out;
	/* path{fill: #FFFFFF;}; */

	/* Removed unnecessary `path` style within hover state */
	.services-card-text {
		color: #FFF; /* Set text color explicitly for hover */
	}
	.spec-svg{
		path{stroke: #FFFFFF;};
	}
}

.services-card-text {
	color: var(--Neutrual, #131010);
	font-family: Nunito;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

/* news */

/* news */

.news__container {
	display: flex;
	flex-direction: column;
	gap: 100px;
}
.title-text {
	align-self: start;
}
.news-cads-section {
	display: flex;
	flex-direction: column;
	gap: 64px;
	padding: 0 82px;
}
.news-cards {
	gap: 64px;
	display: flex !important;
	justify-content: space-between;
	align-items: center;
}

.news-card {
	cursor: pointer;
	transition: 0.4s ease-in-out;
	flex-direction: column;
	display: flex;
	max-width: 320px;
	max-height: 554px;
	padding: 24px 40px 32px 40px;
	flex-direction: column;
	align-items:center;
	gap: 32px;
	border-radius: 10px;
	 
}

.blue-card{
	background: var(--primary_lib, #769ED7);
}

.darkblue-card{
	background: #22445F;
}

.green-card{
	background: #6DAFA7;
}

.darkblue-card:hover{
	background: rgb(27, 54, 76);
}

.green-card:hover{
background: rgb(76, 122, 117);
}
.news-date {
	align-self:end;
	color: #FFF;
	text-align: right;
	font-family: Nunito;
	font-size: 15px;
	font-style: italic;
	font-weight: 600;
	line-height: normal;
}
.news-title {
	color: #FFF;
	font-family: Nunito;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.blue-card{
	transition: background-color 0.4s linear;
}
.blue-card:hover{
	background: rgb(94, 126, 172);
}

.news-img img{
	max-width: 320px;
	width: 100%;
}
.news-btn {
	cursor: pointer;
	display: flex;
	height: 45px;
	width: 200px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 6px;
	border: 2px solid #FFF;	
	background: transparent;
	color: #FFF;
	text-align: center;
	font-family: Nunito;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.news-btn:hover{
	background: rgba(118, 158, 215, 0.50);
}

.news-btn:active{
	background: #769ED7;
}
.news-arows img{
	position: absolute;
	width: 32px;
}

.news-arows{
	cursor: pointer;
	position: relative;
	display: flex;
	width: 50px;
	height: 50px;
	padding: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-radius: 64px;
	border: 3px solid var(--primary_ioc, #22445F);
}
.news-control-arows-right {
	
	transform: rotate(180deg);
	
}

.news-more-btn {
	cursor: pointer;
	transition: 0.4s ease-in-out;
	background: transparent;
	align-self: center;
	display: flex;
	height: 45px;
	width: 180px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 6px;
	border: 2px solid var(--Neutrual, #131010);
	color: var(--Neutrual, #131010);
	text-align: center;
	font-family: Nunito;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.news-more-btn:hover{
	background: rgba(118, 158, 215, 0.50);
}

.news-more-btn:active{
	background: #769ED7;
}

.slick-slide {
	transform: scale(0.9);
	.news-card{
		max-width: 100%;
	}

}

.slick-center{
	transform: scale(1);
}

.slick-initialized .slick-slide{
	display: flex;
	margin: 0 15px;
}

/* aboutUs */

.aboutUs__container__mobile{
	display: none;
}
.aboutUs__container {
	background: #F4F4F4;
	color: #080707;
	padding: 100px 80px;
	display: flex;
	flex-direction: row;
	gap: 64px;
}
.aboutUs-left {
	display: flex;
	flex-direction: column;
	gap: 54px;
	align-items: flex-start;
	padding: 32px 0px;
	align-self: stretch;
}
.aboutUs-left-top {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
	align-self: stretch;
}

.aboutUs-left-text {
	width: 621px;
	font-family: Nunito;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.aboutUs-stats {
	display: flex;
	width: 908px;
	justify-content: space-between;
	align-items: flex-start;
}

.btn-about{
	border-radius: 6px;
	border: 2px solid var(--primary_lib, #0C416B);
	color: #131010;
}
.aboutUs-stat {
	display: flex;
	width: 278px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	flex-shrink: 0;
}
.aboutUs-stat-num {
	font-family: Nunito;
	font-size: 40px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}
.aboutUs-stat-text {
	align-self: stretch;
}

.aboutUs-right {
	/* width: 686px;
	height: 604px; */
	position: relative;
	display: flex;
	padding:  0 101px 52px 65px;
	/* gap: 10px; */
}
.aboutUs-right img{
	width: 627px;
	height: 552px;
}
.aboutUs-right-exp {
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	align-items:flex-start;
	flex-direction: column;
	padding-top: 68px;
	padding-left: 43px;
	width: 302px;
	height: 228px;
	flex-shrink: 0;
	background: url('/img/aboutUs/aboutUSEXP.png'), #F8AB5D 50% / cover no-repeat;
}
.aboutUs-right-exp-top {
font-family: Nunito;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.aboutUs-right-exp-bottom {
font-family: Nunito;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
/* resources */
.resources__container {
	display: flex;
	flex-direction: column;
	gap: 64px;
}
.resources-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	
}
.resources-card {
	width: 385px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 14px;

}
.resources-card img{
	width: 385px;
	height: 282px;
}
.resources-card-cotent {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.resources-card-title {
	color: var(--Neutrual, #131010);
	font-family: Nunito;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.resources-card-text {
	color: var(--Neutrual, #131010);
font-family: Nunito;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.resources-card-link {
	cursor: pointer;
	margin-top: 6px;
	color: var(--primary_lib, #0C416B);
	text-align: center;
	font-family: Nunito;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-decoration-line: underline;
}
/* ranking */
.ranking__container {
	height: 485px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100% ), url('/img/ranking/1.jfif') center no-repeat, lightgray 50%;
	background-size: cover;
}
.ranking-title {
	color: #FFF;
	align-self: center ;
}
.ranking-text {
	color: var(--Neutrual, #FFF);
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	width: 741px;
}
.ranking-btn {
	border-radius: 6px;
	background: #FFF;
	color: var(--Neutrual, #131010);
}

/* partners */
.partners__container{
	display: flex;
	padding: 100px 80px;
	flex-direction: column;
	align-items: flex-start;
	gap: 64px;
	background: var(--primary_ioc, #F9F1F6);
}
.partners-imgs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
}
/* FAQ */
.faq__container {
	display: flex;
	padding: 32px 80px 64px 80px;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 24px;
}

.faq-title{
	align-self:center;
}
.faq-top {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 380px;
}

.faq-ask {
	color: rgba(19, 16, 16, 0.05);
	font-family: Nunito;
	font-size: 96px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	letter-spacing: 6px;
	text-transform: uppercase;
}
.accordion {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background: var(--primary_lib, #0C416B);
	padding: 30px 40px;
	max-width: 1760px;
}
.panel {
	color: #FFF;
	font-family: Nunito;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}


.panel {
	background-color: var(--primary_lib, #0C416B);
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease-in-out;
}

.container {
	width: 80%;
	max-width: 600px;
	margin: 50px auto;
}

button.accordion-btn {
	width: 1680px;
	padding-block: 0;
	padding-inline: 0;
	display: flex;
	align-items:center;
	justify-content: space-between;
	border: none;
	outline: none;
	text-align: left;
	background: var(--primary_lib, #0C416B);
	cursor: pointer;
	color: #FFF;
	font-family: Nunito;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	transition: background-color 0.4s linear;
}

.rotate-on-click {
	transition: transform 0.4s ease-in-out;
}

.accordion-btn.is-open .rotate-on-click {
	transform: rotate(180deg);
}

/* footer */
.footer {
	padding: 0;
	display: flex;
	background: #080707;
	flex-direction: column;
	gap: 100px;
	justify-content: start;
}
.footer-logo{
	color: #FFF;
	font-family: Nunito;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	align-self: start;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}
.footer-main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 48px 80px 0 80px;

}

.footer-main-columns{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 80%;
}
.footer-main-column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
	align-self: stretch;

}
.footer-main-label {
	color: #FFF;
	font-family: Nunito;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;

}
.footer-main-menu {
}
.footer-main-list {
	display: flex;
	flex-direction: column;
	gap: 14px;
}
.footer-main-list-item {
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 4px;
}
.footer-main-list__link {
	cursor: pointer;
	transition: 0.4s ease-in-out;
	color: #FFF;
	font-family: Nunito;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
	max-width: 251px;
	width: 100%;
}
.footer-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 1px solid #637381;
	padding: 24px 80px 48px 80px;
}
.footer-bottom-left {
	color: var(--Neutrual, #637381);
	text-align: center;
	font-family: Nunito;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.footer-bottom-right {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
	gap: 8px;
	color: var(--Neutrual, #637381);
	text-align: center;
	font-family: Nunito;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.envy {
	margin: -5px;
	color: var(--Primary-1, #3E83D7);
	font-family: Nunito;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1px;
}

.footer-main-list__link:hover{
	color: var(--primary_lib, #769ED7);

}
/* media */
@media (max-width: 1800px) {

	.main-title{
		left: 0;
	}

	[class*="__container"]{
		margin: 0 auto;
		padding: 32px 16px;
		max-width: 1800px;
	}

	.main-content{
		/* width: calc(100vw - 80px); */
	}
	header{
		padding: 12px 16px;
	}
	.aboutUs-right-exp {
		bottom: 15%;
		/* width: 35%;
		height: 25%; */
	}
	.aboutUs-right img {
		width: 100%;
		height: 80%;
	}

	.aboutUs-stats {
		width: auto;
	}
	.aboutUs__container {
		gap: 0;
}

.resources-card {
	width: 316px;
}

.resources-card img {
	width: 316px;
}

.main-content {
	/* padding-right: 80px; */
}

.faq-ask {
	font-size: 76px;
}

	button.accordion-btn{
		width: 90svw;
	}
}

@media (max-width: 1600px) {
	.slide {
		justify-content: space-between;
	}


	.main-title{
		position: static;
		width: auto;
	}
	.main-title.spec{
		width: auto;
	}
	.main-img img{
		width: 90%;
		height: auto;
	}

	button.accordion-btn{
		width: 80svw;
	}
}

@media (max-width: 1400px) {
	.slide{
		height: auto;
		justify-content: start;
	}
	 .main-title{
		font-size: 55px;
	 }
}



@media (max-width: 1399px) {
	.main-profile{
		display: none;
	}


	.partners-imgs{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 42px;
	}
	.faq-top{
		width: 100%;
		gap: 0;
		justify-content: space-between;
	}
	.aboutUs-stats{
		flex-wrap: wrap;
		gap: 20px;
	}
	.main-content{
		justify-content: flex-start;
		flex-wrap: wrap;
	}

.services-cards-row{
	flex-wrap: wrap;
	justify-content: center;
}

	.aboutUs__container{
		flex-direction: column;
		.aboutUs-right img {
			width: 80%;
			height: 70%;
	}

	.aboutUs-right-exp {
    bottom: 0;
    /* width: 10%;
    height: 10%; */
		.aboutUs-right-exp-top {
			font-size: 24px;
		}
		.aboutUs-right-exp-bottom {
			font-size: 24px;
		}
		}
	
}
}

@media (max-width: 1100px) {
	.footer{
		gap: 12px;
	}
	.btn-sloid{
		width: 132px;
	height: 36px;
	}
	.nav-contactme{
		font-size: 14px;
	}
	.slider-controls {
		bottom: 2%;
}
	.footer-main{
		flex-direction: column;
		gap: 20px;
		padding: 24px 16px 0 16px;
	}
	.footer-main-columns{
		width: 100%;
		/* flex-direction: column; */
	}

	.footer-main-column{
		flex: 1 0 50%; /* Кожен елемент займає половину ширини контейнера */
		box-sizing: border-box; /* Щоб враховувати внутрішні відступи та рамки у визначення ширини */
		padding: 12px 0 12px 0;
	}

	.footer-main-label{
		font-size: 16px;
	}
	.footer-main-list__link{
		font-size: 13px;
	}
	.footer-bottom{
		padding: 14px 16px 12px 16px;
	}
	.footer-bottom-left{
		font-size: 8px;
	}
	.footer-bottom-right{
		font-size: 8px;
		img{
			width: 9.562px;
			height: 9.562px;
		}
	}
	.envy{
		font-size: 8px;
	}

}
@media (max-width: 850px) {
	.btn-more{
		width: 164px;
		height: 36px;
		font-size: 14px;
		padding: 10px;
	}
	.news-btn{
		width: 164px;
		height: 36px;
		font-size: 14px;
	}

	.aboutUs__container__mobile{
		display: flex;
		flex-direction: column;
		background: #F8AB5D;
		color: var(--Neutrual, #FFF);
		gap: 14px;
	}
	.aboutUs-stats{
		gap: 24px;
	}
	.aboutUs-stat{
		gap: 0;
	}
	.title-text {
		font-size: 24px;
	}
	.aboutUs__container{
		display: none;
	}
	.btn-font{
		font-size: 14px;
	}
	.news-title{
		font-size: 16px;
	}
	.services-card-text{
		font-size: 14px;
	}
	
	.slider-controls {
			bottom: 3%;
	}

	.main-profile{
		display: none;
	}
	.main__container{
		justify-content: start;
		height: 100%;
	}
	.slide{
		height: auto;
	}
	.right-arow-control {
		display: block;
	}
	.left-arow-control {
		display: block;
	}
	.slider-control{
		display: none;
	}
	.slider-controls{
		left: 35%;
	}
	
	.main-img img {
    display: inline;
		width: calc(100vw - 40px);
	}

	.btn-goto{
		color: var(--primary_lib, #0C416B);
		border-radius: 6px;
		border: 2px solid var(--primary_lib, #0C416B);
		background: #FFF;
	}
	.about-text{
		max-width: calc(100% - 200px);
		width: 90%;
		font-size: 14px;
	}
	.main-title{
		align-self: start;
		max-width: 355px;
    width: 100%;
		font-size: 28px
	}
	.aboutUs-left-text{
		width: auto;
		font-size: 14px;
	}
	.aboutUs-stat-num{
		font-size: 24px;
	}
	.aboutUs-stat-text{
		font-size: 14px;
	}
	.btn-about-mob{
		background: #FFF;
		color: var(--primary_lib, #0C416B);
	}

	.ranking-text{
		width: auto;
	}

	button.accordion-btn{
		width: auto;
	}
	.news__container{
		gap: 24px;
	}
	.news-more-btn{
		display: none;
	}
	.resources-card-title{
		font-size: 20px;
	}
	.resources-card-text{
		font-size: 14px;
	}
	.resources-card-link{
		font-size: 14px;
	}
	.resources-cards{
		justify-content: center;
		align-items: center;
	}
	.resources-card{
		max-width: 343px;
		width: 100%;
		gap: 8px;
		img{
			width: 100%;
		}
	}
	.resources-card-cotent{
		gap: 4px;
	}

	.aboutUs-imgs-mob {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		/* height: 216px; */
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		img{
			height: 216px;
			/* max-width: 400px; */
			width: 100%;
		}
	}
	.aboutUs-exp-mob {
		position: absolute;
		bottom: -8.272px;
		right: 0;
		display: flex;
		padding: 24px 16px;
		justify-content: center;
		align-items: center;
		background: var(--Neutrual, #000915);
	}
	.ranking-title{
		font-size: 24px;
	}
	.ranking-text{
		font-size: 14px;
	}

	.faq-ask{
		font-size: 24px;
		color: rgba(19, 16, 16, 0.05);
		font-family: Nunito;
		font-size: 24px;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.accordion{
		padding: 14px 16px;
	}
	button.accordion-btn{
		font-size: 16px;
	}

	.news-date{
		font-size: 12px;
	}
}

@media (max-width: 600px){
	.slick-initialized .slick-slide{
		margin: 0;
	}
	.news-cads-section {
    padding: 0;
		gap: 24px;
}
	.news-card{
		padding: 16px 24px;
		max-width: 355px;
		width: 100%;
		max-height: 355px;
		height: 100%;
		gap: 16px;
		img{
			max-width: 307px;
			max-height: 160px;
		}
	}
}

.welcome-page{
	border-bottom: 1px solid #FFF;
	background: #FFF;
	box-shadow: 0px 3px 13.9px 0px rgba(6, 18, 128, 0.07);

	.logo-title{
		color: #131010;
	}
	.nav-link{
		color: #131010;
	}

	
		p{
			color: #131010;
		}


	svg{
		path{fill: #0C416B}
	}

	.bar {
    color: #0C416B;
		background-color: #0C416B;
	}
	.nav-menu{
		background-color: #FFF;
	}
	
	
}
body.home{
	overflow: hidden;
}

.welcome-main{
	position: relative;
	display: flex;
	flex-direction: row;
	display: inline-flex;
	align-items: center;
	gap: 145px;
	img{
		width: 597px;
		height: 599px;
	}
}
.welcome-content {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 739px;	
	
	h1{
		color: #0C416B;
		font-family: Nunito;
		font-size: 72px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-transform: uppercase;
	}
}
.btn-Read-more {
	width: 160px;
	border-radius: 6px;
	border: 2px solid #0C416B;
	background: #FFF;
	display: flex;
	height: 36px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	color: #0C416B;
	text-align: center;
	font-family: Nunito;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.plane{
	position: absolute;
	bottom: 0;
	right: 0;
}

.text-bgr{
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 50%;
	/* transform: rotate(15deg); */
	color: var(--primary_lib, #769ED7);
	font-family: Nunito;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	opacity: 0.15;
}
@media (max-width: 1399px){
	/* body.home{
		overflow: scroll;
	} */
	.welcome-main{
		gap: 0;
	}
	.welcome-content {
		max-width: 739px;	
		width: 100%;
	}
}

@media (max-width: 1230px){
	.welcome-main{
		/* flex-direction: column; */
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		img{
			width: 50%;
			height: auto;
		}
	}
	.welcome-content {
		max-width: 739px;
		h1{
			font-size: 45px;
		}
	}
}
@media (max-width: 1024px){
	.welcome-content {
		h1{
			font-size: 40px;
		}
	}
}

.btn-main-white{
	height: 45px;
	border-radius: 6px;
	border: 2px solid var(--primary_lib, #0C416B);
	color: #131010;

}
@media (max-width: 850px){
	.btn-main-white{
		height: 45px;
		border-radius: 6px;
		border: 2px solid var(--primary_lib, #0C416B);
		color: #131010;

	}
	.plane{
		bottom: -30%;
		width: 74px;
	}
	.welcome-main{
		flex-direction: column-reverse;
		width: auto;

		img{
			width: 90%;
			height: 100%;
			height: auto;
			max-width: 417px;
		}
	}
	.welcome-content {
		max-width: 400px;	
		gap: 14px;
		padding: 32px 16px;
		h1{
			width: 350px;
			font-size: 28px;
		}
	}
}




.about-main__container {
	display: flex;
	flex-direction: row;
	gap: 20px;
	
.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.top {
	position: relative;
	.plane{
		position: absolute;
		z-index: -4;
		/* color: #9dafc9;	 */
		top: 0;
		right: 0;
		img{
			opacity: 0.2;
		}
	}
	display: flex;
	padding-top: 100px;
	gap: 24px;
	flex-direction: column;
	h1{
		width: 870px;
		color: #131010;
		font-family: Nunito;
		font-size: 56px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
	}
}
.aboutUs {
	color: var(--Neutrual, #131010);
	font-family: Nunito;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
}
	.hilight {
		color: #769ED7;
	}
	.hilight-dark {
		color: #0C416B;
	}
	.buttons {
		display: flex;
		align-items: flex-start;
		gap: 20px;
	}
	.btn-main-dark {
		transition: 0.4s ease-in-out;
		display: flex;
		height: 45px;
		padding: 10px 30px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		color: var(--Neutrual, #FFF);
		border-radius: 6px;
		background: var(--primary_lib, #0C416B);
		color: var(--Neutrual, #FFF);
		text-align: center;
		font-family: Nunito;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
	.btn-main-dark:hover{
		background: rgba(118, 158, 215, 0.50);
	}

	.btn-main-dark:active{
		background: #769ED7;
	}
	.bottom-mob{
		display: none;
	}
	.bottom {
		display: flex;
		align-items: flex-end;
		gap: 294px;
		align-self: stretch;
	}
	.fecebook {
		display: flex;
		align-items: center;
		gap: 10px;
		color: var(--Neutrual, #131010);
		font-family: Nunito;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
	.imgs {
		display: flex;
		align-items: flex-start;
		gap: 16px;
		.nau{
			display: flex;
			padding: 16.5px 12px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-radius: 10px;
			background: #769ED7;
		}
	}
	.main-img-box {
		flex: 1 0 0;
		align-self: stretch;
	}
}

@media (max-width: 1800px){
	.about-main__container{
		.main-img-box img{
			width: 100%;
		}
		.top{
			padding-top: 0;
			h1{
				font-size: 35px;
				width: 600px;
			}
		}
	}
}	

@media (max-width: 1600px){
	.about-main__container{
		gap: 30px;
		.main-img-box img{
			width: 80%;
		}
		.top{
			padding-top: 0;
			.bottom{
				gap: 20px;
			}
		}
	}
}	


.about-title {
	color: var(--Neutrual, #131010);
	font-family: Nunito;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	align-self: stretch;
}
.weInDtl__container {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 40px;
	background: rgba(210, 214, 222, 0.35);
	.weInDtl-cards {
		flex-direction: row;
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	.weInDtl-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		h1{
			color: var(--primary_lib, #0C416B);
			font-family: Nunito;
			font-size: 36px;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
		}
		p{
			width: 315px;
			color: var(--Neutrual, #131010);
			text-align: center;
			font-family: Nunito;
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}
	}
}

.about-basicInformation__container {
	display: flex;
	flex-direction: row;
	background: rgba(118, 158, 215, 0.30);
	.basicInformation-left {
		height: 770px;
		position: relative;
		flex: 0 0 60%;
		display: flex;
		gap: 90px;
		flex-direction: column;
		.basicInformation-left-title {
			color: var(--Neutrual, #131010);
			font-family: Nunito;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			text-transform: uppercase;

		}
		.basicInformation-line{
			position: absolute;
		}
	
		
		.basicInformation-left-items {
			max-width: 928px; 
			max-height: 677px; 
			width: 100%;
			height: 100%;
			position: relative;
			flex-direction: column; 
			justify-content: flex-start; 
			align-items: flex-start; 
			gap: 10px; 
			display: inline-flex;

			.basicInformation-left-item {
				position: absolute; 
				display: inline-flex;
				align-items: center;
				gap: 20px;
				color: #131010; 
				font-size: 18px; 
				font-weight: 600; 
				word-wrap: break-word;
				img{
					width: 80px;
					height: 80px;
				}
			}
			.basicInformation-left-item-1{
				max-width: 324px; 
				width: 100%;
				left: 15px; 
				top: 0px;
			}
			.basicInformation-left-item-2{
				max-width: 499px; 
				width: 100%;
				left: 383px; 
				top: 371px;  				
			}
			.basicInformation-left-item-3{
				max-width: 532px; 
				width: 100%;
				left: 0px; 
				top: 236px;
			}
			.basicInformation-left-item-4{
				max-width: 425px; 
				width: 100%;
				left: 503px; 
				top: 129px; 
			}
			.basicInformation-left-item-5{
				max-width: 629px; 
				width: 100%;
				left: 66px; 
				top: 577px; 		
			}
		}
		.basicInformation-line-1 {
			left: 273px; top: 80px;
		}
		.basicInformation-line-2 {
			left: 498px; top: 221px;
		}
		.basicInformation-line-3 {
			left: 75.49px; top: 317px;
		}
		.basicInformation-line-4 {
			left: 115px; top: 480.82px;
		}
		.basicInformation-line-1-mob {
			display: none;
		}
		.basicInformation-line-2-mob {
			display: none;
		}
		.basicInformation-line-3-mob {
			display: none;
		}
		.basicInformation-line-4-mob {
			display: none;
		}
	}
	
	.basicInformation-right {
		flex: 0 0 40%;
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		.sharp {
			color: var(--Neutrual, #FFF);
			font-size: 96px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			letter-spacing: 3px;
			opacity: 0.3;
		}
		.nau {
			color: var(--Neutrual, #FFF);
			font-size: 300px;
			font-family: "Caveat", cursive;
			font-style: italic;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 3px;
			opacity: 0.3;
			
		}
		.basicInformation-right-imgs {
			display: flex;
			align-items: flex-start;
			gap: 14px;
		}
	}

}

.about-Interaction__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 100px;
}
.about-Interaction-titile {
	color: var(--Neutrual, #131010);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	align-self: flex-start;
	
}
.about-Interaction-content {
	display: flex;
	max-width: 1353px;
	width: 100%;
	padding: 80px 64px;
	flex-direction: column;
	justify-content: center;
	gap: 100px;
	border-radius: 24px;
	background: var(--primary_lib, #769ED7);
	
}


.about-form-title {
	display: flex;
	flex-direction: column;
	gap: 32px;
	justify-content: center;
	align-items: center;
	h1{
		color: var(--Neutrual, #FFF);
		font-size: 56px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
	}
	h3{
		color: var(--Neutrual, #FFF);
		text-align: center;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
}

.about-form {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	.left {

		width: 470px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
		.about-form-input{
			width: 100%;
			border-radius: 10px;
			border: 2px solid var(--Neutrual, #FFF);
			display: flex;
			padding: 13px 16px;
			align-items: center;
			background: transparent;
			
		}
		.about-form-input::placeholder{
			color: var(--Neutrual, #FFF);
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
		.about-form-input:focus {
			outline: none;
		}
	}
	.right {

		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 32px;
		textarea{
			resize: none;
			width: 633px;
			height: 249px;
			border-radius: 10px;
			border: 2px solid var(--Neutrual, #FFF);
			display: flex;
			padding: 20px 16px;
			background: transparent;
		}
		textarea:focus{
				outline: none;
		}
		textarea::placeholder{
			color: var(--Neutrual, #FFF);
			font-family: Nunito;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
	}
	}

}


.about-more__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.about-more-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;

}
.about-more-links a{
	color: var(--primary_lib, #0C416B);
	font-family: Nunito;
	font-size: 16px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	text-decoration-line: underline;
}

.about-more-img {
	display: flex;
	align-items: center;
	gap: 24px;
}


.slick-prev,
    .slick-next {
        display: none !important;
    }


	.news-controls{
		display: flex;
		flex-direction: row;
		gap: 10px;
		justify-content: center;
		align-items: center;
	}


	.about-basicInformation-plane{
		position: absolute;
		top:2%;
		right: 7%;
	}
@media (max-width: 1600px){
	
	.about-basicInformation__container {
		.basicInformation-right{
			.sharp{
				font-size: 70px;
			}
			.nau{
				font-size: 200px;
			}
			img{
				width: 250px;
				height: 175px;
			}
		}

		.basicInformation-left {
			flex: 0 0 50%;
			gap: 32px;
			.basicInformation-line-1 {
				display: none;
			}
			.basicInformation-line-2 {
				display: none;
			}
			.basicInformation-line-3 {
				display: none;
			}
			.basicInformation-line-4 {
				display: none;
			}
			.basicInformation-line-1-mob {
				position: absolute;
				display: block;
				left: 32px; 
				top: 68px;
			}
			.basicInformation-line-2-mob {
				position: absolute;
				display: block;
				left: 165px; 
				top: 189px;
			}
			.basicInformation-line-3-mob {
				position: absolute;
				display: block;
				left: 0;
				 top: 325px;
			}
			.basicInformation-line-4-mob {
				position: absolute;
				display: block;
				left: 175px; 
				top: 487px;
			}
			.basicInformation-left-items {
				display: flex;
				flex-direction: column;
				gap: 100px;
				.basicInformation-left-item{
					font-size: 12px;
					max-width: 360px;
					width: 100%;
					img{
						width: 40px;
						height: 40px;
					}
				}
				.basicInformation-left-item{
					display: flex;
				}
				.basicInformation-left-item-1{
					max-width: 277px;
					margin-left: 27px; 
					position: static;
				}
				.basicInformation-left-item-2{
					margin-left: 66px; 
					position: static;
					max-width: 277px;
				}
				.basicInformation-left-item-3{
					margin-left: 0px; 
					position: static;
					max-width: 277px;
				}
				.basicInformation-left-item-4{
					margin-left: 32px; 
					position: static;
					max-width: 311px;
				}
				.basicInformation-left-item-5{
					position: static;
					max-width: 343px;
				}
			}
		}
	}
}

@media (max-width: 1300px){
	.about-basicInformation-plane{
		width: 74px;
		height: 74px;
		top: -3%;
		right: 0;
	}
	.about-main__container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.content{
			gap: 24px;
		}
		.main-img-box {
			align-self: center;
			img{
				max-width: 400px;
				width: 100%;
				height: 320px;
			}
		}
		.top{
			padding-top: 0;
			.btn-main-dark{
				font-size: 14px;
				padding: 10px 20px;
			}
			h1{
				font-size: 26px;
				max-width: 400px;
				width: 100%;
			}
			.plane{
				display: none;
			}
		}
		.bottom{
			gap: 20px;
			display: none;
		}

		.bottom-mob {
			display: flex;
			flex-direction: column;
			gap: 24px;
			.fecebook {
				position: relative;
				font-size: 14px;
				.fecebook-img{
					width: 20px;
					height: 20px;
				}
				.fecebook-plane{
					width: 44px;
					height: 44px;
					right: 0;
					display: block;
					position: absolute;
					opacity: 0.2;
				}
			}
		}
		
	}
	.about-title{
		font-size: 12px;
	}
	.about-basicInformation__container{
		flex-direction: column;
		justify-content: center;
		align-items:center;
		gap: 32px;
		.basicInformation-right{
			position: relative;
			.sharp{
				font-size: 40px;
			}
			.nau{
				font-size: 100px;
			}
			.book{
				position: absolute;
				left: 0;
				top: 18%;
			}
			.basicInformation-right-imgs{
				img{
					width: 168px;
					height: 156px;
				}
			}
		}
	}
	.weInDtl-cards{
		flex-direction: column;
		gap: 24px;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;
	}
	.weInDtl-card{
		img{
			width: 48px;
			height: 48px;
		}
		h1{
			font-size: 24px;
		}
		p{
			font-size: 12px;
		}		
	}
	.about-Interaction__container{
		padding: 0;
		.about-Interaction-titile{
			display: none;
		}
	}
	
	.about-Interaction-content{
	
		border-radius: 0;
		width: 100%;
		padding: 40px 16px;
		
		h1{
			font-size: 24px;
		}
		h3{
			text-align: center;
			font-size: 12px;
		}
		.about-form{
			flex-direction: column;
			gap: 8px;
			padding: 0 24px;
			.left{
				width: 100%;
				.about-form-input::placeholder{
					font-size: 10px;
				}
			
			}
			.right{
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 24px;
				align-self: stretch;
				textarea{
					width: 100%;
				}
				textarea::placeholder{
					font-size: 10px;
				}
			}
			
		}
	}
	.about-more__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;
		align-self: stretch;
		.about-more-links {
			font-size: 12px;
		}
		.about-more-img {
			justify-content: space-between;
			width: 100%;
			max-width: 580px;
			img{
				width: 165px;
				height: 186px;
			}
		}
		.mob-papa {
			display: none;
		}
	}
	
}

.sources-titile {
	display: flex;
	flex-direction: column;
	gap: 16px;
	h1{
		color: var(--Neutrual, #131010);
		font-family: Nunito;
		font-size: 40px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-transform: uppercase;
	}
	h3{
		color: var(--Neutrual, #131010);
		font-family: Nunito;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
}

.news-page-cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}

.news-page-card{
	display: flex;
	width: 424px;
	height: 540px;
	padding: 24px 40px 32px 40px;
	flex-direction: column;
	gap: 32px;
	border-radius: 10px;
	margin-bottom: 48px;
}

.news-btn{
	align-self: center;
}

.onlineExhibion-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;	
}
.onlineExhibion-card {
	display: flex;
	width: 573px;
	height: 509px;
	padding: 32px;
	align-items: flex-start;
	flex-direction: column;
	gap: 24px;
	border-radius: 8px;
	background: #D6E2F3;
	margin-bottom: 48px;
	img{
		width: 100%;
		max-height: 350px;
		border-radius: 16px;
	}
}
.onlineExhibion-title {
	width: 100%;
	gap: 16px;
	display: flex;
	flex-direction: column;
	h3{
		color: var(--Neutrual, #131010);
		font-family: Nunito;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
}
.onlineExhibion-link {
	h1{
		color: var(--Neutrual, #131010);
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 1300px){
	.sources-titile {
		gap: 4px;
		h1{
			font-size: 24px;
		}
		h3{
			font-size: 12px;
		}
	}

	
	.onlineExhibion-card {
		max-width: 360px;
		width: 100%;
		height: 360px;
		padding: 24px;
		gap: 14px;
		margin-bottom: 24px;
		img{
			max-height: 228px;
			border-radius: 16px;
		}
	}
	.onlineExhibion-title {
		gap: 10px;
		h3{
			font-size: 12px;
		}
	}
	.onlineExhibion-link {
		h1{
			font-size: 16px;
		}
		img{
			width: 28px;
			height: 28px;
		}
	}
}

@media (max-width: 800px){
	.onlineExhibion-cards {
		flex-direction: column;
		gap: 24px;
		flex-wrap: nowrap;
		align-items: center;
	}
	.onlineExhibion-card{
		margin-bottom: 0;
	}
	.news-page-cards{
		flex-wrap: nowrap;
		flex-direction: column;
		gap: 32px;
		justify-content: center;
		align-items: center;
	}

	.news-page-card{
		padding: 16px 24px;
		height: 355px;
		width: 100%;
		gap: 0;
		margin-bottom: 0;
		justify-content: space-between;

	}

	.news-img img{
		max-height: 160px;
		height: 100%;
	}
}
.template__100bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	
	}
	.template-text {
		display: flex;
		gap: 32px;
		flex-direction: column;
		max-width: 744px;
		width: 100%;
		h1{
			color: var(--Neutrual, #131010);
			font-family: Nunito;
			font-size: 40px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			text-transform: uppercase;
			max-width: 626px;
			width: 100%;
		}
		p{
			color: var(--Neutrual, #131010);
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			.template-link {
				color: var(--Neutrual, #131010);
				font-family: Nunito;
				font-size: 18px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				text-decoration-line: underline;
			}
			a{
				color: var(--Neutrual, #131010);
				font-size: 18px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				text-decoration: none;
			}
		}
	
	.template-img {
		display: flex;
		max-width: 870px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		img{
			width: 100%;
			max-height: 442px;
		}
	}
}

.template-light-blue{
	background: rgba(118, 158, 215, 0.30);
}
.template-list{
	max-width: 744px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;
	h1{
		color: var(--Neutrual, #131010);
		font-size: 22px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
	}
	ul {
		list-style-type: disc;
		padding-left: 30px;
	}
	
	ul li{
		color: var(--Neutrual, #131010);
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}


@media (max-width: 1600px){
	.template__100bottom{
		flex-direction: column;
		gap: 24px;
		.template-img {
			max-width: 744px;
			img{
				max-height: 442px;
			}
		}
	}
	.template-img {
		max-width: 744px;
		img{
			max-height: 442px;
		}
	}
}


@media (max-width: 1300px){
	[class*="__100bottom"]{
		padding: 32px 16px;
	}
	.template__100bottom{
		flex-direction: column;
		gap: 24px;
		.template-img {
			max-width: 744px;
			img{
				height: 442px;
			}
		}

		.template-img {
			max-width: 744px;
			img{
				height: 442px;
			}
		}
	}
	.template-light-blue{
		.template-list{
			h1{
				font-size: 16px;
			}
			
			ul li{
				font-size: 12px;
			}
		}
	}
}

.template-text-about {
	max-width: 700px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	h1{
		color: var(--Neutrual, #131010);
		font-size: 22px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
	}
	.name {
		color: var(--Neutrual, #131010);
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	.email {
		display: flex;
		flex-direction: row;
		gap: 8px;
		.left {
			color: var(--Neutrual, #131010);
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}
		.rght {
			a{
				color: var(--Neutrual, #131010);
				font-size: 18px;
				font-style: italic;
				font-weight: 600;
				line-height: normal;
				text-decoration-line: underline;
			}
		}
	}
	
	.tel {
		color: var(--Neutrual, #131010);
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		span{
			color: var(--Neutrual, #131010);
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
	}
	p{
		color: var(--Neutrual, #131010);
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	.btn-send {
		padding: 10px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		color: var(--Neutrual, #131010);
		text-align: center;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		border-radius: 6px;
		border: 2px solid var(--Neutrual, #131010);
		max-width: 200px;
		height: 45px;
	}
}

@media (max-width: 800px){
	.template__100bottom .template-content-btn{
		flex-direction: column-reverse;
		gap: 24px;
		
		
		
		.template-img {
			/* max-width: 343px; */
			img{
				width: 100%;
				max-height: 300px;
			}
			.examplePage-img {
				width: auto;
			}
		}
	}

	.template-text {
		display: flex;
		gap: 8px;
		max-width: 744px;
		width: 100%;
		h1{
			font-size: 24px;
		}
		p{
			font-size: 12px;
			.template-link {
				font-size: 12px;
			}
			a{
				font-size: 12px;
			}
		}
		}

	.template-text-about {
		h1{
			font-size: 14px;
		}
		.name {
			font-size: 12px;
		}
		.email {
			display: flex;
			flex-direction: row;
			gap: 8px;
			.left {
				font-size: 12px;
			}
			.rght {
				a{
					font-size: 12px;
				}
			}
		}
		
		.tel {
			font-size: 12px;
			span{
				font-size: 12px;
			}
		}
		p{
			font-size: 14px;
		}
		.btn-send {
			max-width: 164px;
			height: 36px;
			padding: 4px 4px;
		}
	}
}
.examplePage-main__container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	.examplePage-main-link {
		color: var(--primary_lib, #0C416B);
		font-family: Nunito;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	.examplePage-main-content {
		border-radius: 8px;
		background: #D6E2F3;
		display: flex;
		padding: 40px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 40px;
		.examplePage-main-img {
			width: 100%;
			img{
				width: 100%;
				height: 500px;
			}
		}
		.main-content-title {
			width: 100%;

			display: flex;
			flex-direction: column;
			gap: 16px;
			flex-direction: column;
			align-items: flex-start;
			align-self: stretch;
		}
		.onlineExhibion-link {
				width: 100%;
		}
		.under-title-text {
			color: var(--Neutrual, #131010);
			font-size: 20px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
		.goto {
			color: var(--primary_lib, #0C416B);
			text-align: center;
			font-family: Nunito;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-decoration-line: underline;
		}
	}
	
}

.examplePage-img{
	max-width: 744px;
	width: 100%;
	display: flex;
	align-items: center;
}

.examplePage-btn{
	display: flex;
	width: 246px;
	height: 48px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: var(--Neutrual, #131010);
	text-align: center;
	font-family: Nunito;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	cursor: pointer;
	transition: all ease-in-out 0.4s;
	border-radius: 6px;
	border: 2px solid var(--Neutrual, #131010);
}

.orange-bg{
	background: rgba(249, 197, 96, 0.50);
}

.examplePage-btn:hover{
	background:rgb(94, 126, 172);
	color: #FFF;

}

.examplePage-btn:active{
	background:#0a4c81;
	color: #FFF;
}
@media (max-width: 1300px){
	.examplePage-main__container {
		.examplePage-main-link {
			font-size: 14px;
		}
		.examplePage-main-content {
			gap: 14px;
			.examplePage-main-img {
				img{
					height: 156px;
				}
			}
			.main-content-title {
				gap: 10px;
			}
			.under-title-text {
				font-size: 12px;
			}
			.goto {
				display: none;
			}
		}
		
	}

	.examplePage-img{
		max-width: 744px;
		width: 100%;
		display: flex;
		align-items: center;
		img{
			height: 313px;
		}
	}
	.examplePage-btn{
		display: none;
	}

	.orange-bg{
		flex-direction: column-reverse;
	}
}


.ranking-form-container {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 64px 312px 100px 312px;
}
.ranking-form-sharp {
	opacity: 0.1;
	position: absolute;
	left: -32px;
	bottom: 312px;
	transform: rotate(-90deg);
	color: var(--primary_lib, #769ED7);
	font-size: 128px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	letter-spacing: 3px;
}
.ranking-form-atom {
	position: absolute;
	left: 80px;
}
.ranking-form-plane {
	opacity: 0.1;
	position: absolute;
	right: 80px;
}
.ranking-form {
	display: flex;
	flex-direction: column;
	gap: 64px;
	border-radius: 24px;
	background: var(--primary_lib, #769ED7);
	padding: 80px;
	width: 100%;
}
.ranking-form-titile {
	color: var(--Neutrual, #FFF);
	text-align: center;
	font-size: 56px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}
.ranking-form-content {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.ranking-form-row {
	display: flex;
	flex-direction: row;
	gap: 40px;
}
.without-title{
	align-items:end;
}
.ranking-form-left {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 14px;
}
.ranking-form-input-titile {
	color: var(--Neutrual, #FFF);
	font-family: Nunito;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 4px;
}
.ranking-form-input {
	width: 100%;
	padding: 13px 16px;
	border-radius: 10px;
	background: transparent;
	border: 2px solid var(--Neutrual, #FFF);
}
.ranking-form-right {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.ranking-form-input::placeholder{
	color: var(--Neutrual, #FFF);
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.ranking-form-input:focus {
	outline: none;
}
.ranking-form-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	gap: 14px;
}

.ranking-form-btn{
	transition: all ease-in-out 0.4s;
	display: flex;
	height: 70px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	border-radius: 6px;
	border: transparent;
	background: var(--primary_lib, #0C416B);
	color: var(--Neutrual, #FFF);
	text-align: center;
	font-family: Nunito;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.ranking-form-btn:hover{
	background: #3E83D7;
}
.ranking-form-btn:active{
	background: #0a4c81;
}

@media (max-width: 1300px){
	.ranking-form-sharp {
		display: none;
	}
	.ranking-form-atom {
		display: none;
	}
	.ranking-form-plane {
		display: none;
	}
	.ranking-form-container{
		gap: 32px;
		padding: 0;
	}
	.ranking-form {
		gap: 32px;
		border-radius: 0;
		padding: 40px 16px;
	}
	.ranking-form-titile {
		font-size: 24px;
	}
	.ranking-form-content {
		gap: 24px;
	}
	.ranking-form-row {
		flex-direction: column;
		gap: 24px;
	}

	.ranking-form-left {
		gap: 8px;
		width: 100%;
	}
	.ranking-form-input-titile {
		margin-bottom: 0;
		font-size: 12px;
	}
	.ranking-form-input::placeholder {
		font-size: 10px;
	}
	.ranking-form-right {
		gap: 8px;
		width: 100%;

	}

	.ranking-form-btn {
		display: flex;
		width: 164px;
		height: 36px;
		padding: 0px 4px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		border-radius: 6px;
		border: 2px solid var(--Neutrual, #FFF);
		color: var(--Neutrual, #FFF);
		text-align: center;
		font-family: Nunito;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		background: transparent;
		align-self: center;
	}
	.ranking-form-btn:hover{
		background: rgba(118, 158, 215, 0.50);
	}
	
	.ranking-form-btn:active{
		background: #769ED7;
	}
	
}